```gitignore id="8k15j7"
# IntelliJ
.idea/

# Maven
target/

# Node
Frontend/node_modules/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

src/main/resources/application.properties
.env
```
