# IntelliJ
.idea/

# Maven
target/

# Node
Frontend/node_modules/

# Environment variables
.env

# Spring secrets
src/main/resources/application.properties

# Nested repo
interview-platform/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db